body{
  text-align: center;
  background-color: black;
  font-family: Dancing Script;
}
#Encabezado {
  background-color:#5b7989;
  text-align: left;
  color: white;
  text-shadow: 2px #02010a;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
}
@media (min-width: 900px) {
#Encabezado nav ul{
  text-align: right;
  display: inline;
  color: white;
  list-style: none;

}
#Encabezado nav li {
  float: right;
  text-shadow: 2px #02010a;
  padding: 1em;

}
#Encabezado nav a:link, #Encabezado nav a:visited {
  color: #fff;
  text-decoration: none;em

#Encabezado nav .active a:link, #Encabezado nav .active a:visited {
  background: #3399CC;
  text-shadow: none !important;
}

#imagen1 img{
  text-align: center;
}

}
