body{
  width: auto;
  background-color: black;
}

#Encabezado {
  background-color:#5b7989;
  text-align: left;
  color: white;
  text-shadow: 2px #02010a;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  display: inline ;

}

	/* Nav Principal*/
	#Encabezado nav ul{
		width: 1350px;
		background-color:#5b7989;
    color: white;
    text-shadow: 2px 2px #02010a;
    border-radius: 10px 10px 0 0;
    display: ;
    text-align: right;
    display: inline-block;
	}

  #Encabezado nav ul {
    list-style: none;
    margin: 0 auto;
    text-align: right;
  }
  	#Encabezado nav li {float: right; text-shadow: 2px #02010a;}

    #Encabezado nav a:link, #Encabezado nav a:visited {
  		color: #fff;
  		padding: 3px 2em;
  		text-decoration: none;

  	}

  	#Encabezado nav .active a:link, #Encabezado nav .active a:visited {
  		background: #3399CC;
  		text-shadow: none !important;
  		border-radius: 15px 10px 6px;
  	}
  #Columnas{
    background-color: #82c3a6;

  }

  #pie{
    background-color:#C6d5c5;
  }


  #Columnas{
    display: inline-block;
  }

  .efecto1 img{
    width: 50%;
	-webkit-filter:blur(10px);
	filter:blur(10px);
  }

#pie div {
	margin: 0;
  padding: 0;
	display: inline-block;
}
